.checkout {
  &__order-info {
    
  }
  &__order-products {
    table {
      th {
        white-space:nowrap;
        @extend %font-size-sm;
        @extend %font-weight-regular;
      }
      td {
        @extend %font-size-xs;
        vertical-align:middle;
        white-space: normal;
      }
      td.thumb {
        img {
          max-width: 50px;
        }
      }
      td.qty {
        text-align:right;
      }
    }
  }
  
  .btn-checkout {
    @extend %font-size-xs;
    @extend %font-weight-bold;
    text-transform:uppercase;
    @include border-radius(3px);
    padding: 10px 15px;
    margin: 20px 0 10px;
  }
}