.pagination {
  padding: 10px 8px;

  .page-item {
    display: inline-block;
    margin: 0 2px 10px;
    vertical-align: middle;
    
    &.active .page-link, span.page-link:hover {
      color:#fff;
      background: #c0c4d7;
      border-radius: 25px;
    }
    
    &.disabled .page-link {
      color: #6c757d;
    }
    
    .page-link {
      font-size: 13px;
      font-weight: 500;
      color: #283346;
      display: block;
      position: relative;
      padding: 1px 12px;
      border: 0;
      background: transparent;
      outline: 0;
      box-shadow: none;
    }
    
    a.page-link:hover {
      @extend .font-red;
    }
  }
}