.shopping-cart {
  &__items {
    @extend %box-shadow-inset;
    background: #fff;
  }
  
  &__item {
    position:relative;
    padding: 5px 20px;
    overflow:hidden;
    
    &:not(:first-child) {
      border-top: 1px solid #f1f1f1;
    }
  }
  
  &__item-info {
    .item-name {
      @extend %font-size-md;
      @extend %font-weight-regular;
    }
  }
  
  &__item-price {
    .price {
      display:block;
      
      &--final {
        @extend .font-red;
        @extend %font-size-sm;
        @extend %font-weight-medium;
      }
      &--old {
        @extend %font-size-xxs;
        color: #999999;
        text-decoration: line-through;
      }
    }
  }
  
  &__actions {
    padding: 30px 35px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 50px 3px rgba(232,232,232,0.7);
    -moz-box-shadow: 0px 0px 50px 3px rgba(232,232,232,0.7);
    box-shadow: 0px 0px 50px 3px rgba(232,232,232,0.7);
    
    .btn {
      @extend %font-size-xs;
      @extend %font-weight-bold;
      text-transform:uppercase;
      @include border-radius(3px);
      padding: 10px 15px;
      
    }
  }
}