.widget {
  position:relative;
  
  & + .widget {
    padding-top: 30px;
  }
  & + .widget:before {
    content: '';
    width: 70px;
    height: 3px;
    display: block;
    margin-bottom: 30px;
    background-color: #e8e8e8;
  }
  
  &__title {
    @extend %font-size-lg;
    @extend %font-weight-bold;
    margin: 0 0 15px;
  }
}