.widget-tags {
  
  &__cloud {
    
    a {
      @extend %font-size-sm;
      @extend %font-weight-medium;
      color: #fff;
      background: #262626;
      display:block;
      float:left;
      padding: 6px 15px;
      margin: 0 5px 5px 0;
      @include border-radius(5px);
      
      &:hover {
        @extend .bg-red;
      }
    }
  }
}