.site-header {
  position:relative;
  
  @include breakpoint(max-width bp(md)) {
    .container {
      
    }
  }
  
  &__main {
    background-color:#fff;
  }
  
  &__main-left {
    position:relative;
  }
  
  &__main-right {
    @include breakpoint(max-width bp(md)) {
      padding: 10px 0;
    }
  }
  
  &__navigation {
    @extend .bg-red;
    
    @include breakpoint(max-width bp(md)) {
      display:none;
    }
  }
}