.header-logo {
  display:block;
  
  @include breakpoint(max-width bp(sm)) {
    text-align:center;
  }
  
  .logo {
    display:inline-block;
    max-width:180px;
    margin-top: 10px;
    margin-bottom:10px;
  }
}