.mmm-container {
  position:relative;
  width:100%;
  margin:0;
  padding:0;
  
  @include breakpoint(max-width bp(md)) {
    display: block;
    padding: 0;
    width: 100%;
    float: none;
    height: auto;
    line-height: initial;
    margin: 0;
    position:absolute;
    top:100%;
  }
  
  &.toggled-on {
    > ul.mmm {
      display:block;
    }
  }

  ul.mmm {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    @include breakpoint(max-width bp(md)) {
      display:none;
      color: #fff;
      position: absolute;
      padding: 0 20px;
      width:100%;
      z-index:9;
      background: #212c3f;
      background: -webkit-gradient(linear, left top, left bottom, from(#212c3f), to(#212c3f));
      background: -moz-linear-gradient(top, #212c3f, #212c3f);
      background: -ms-linear-gradient(top, #212c3f, #212c3f);
      background: -o-linear-gradient(top, #212c3f, #212c3f);
      background: linear-gradient(to bottom, #212c3f, #212c3f);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#212c3f', endColorstr='#212c3f');
      
      .mmm__item {
        display:block;
        margin:0;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgba(255, 255, 255, 0.1);
        
        .mmm__nav-link {
          height: auto;
          line-height: 50px;
          padding: 0 !important;
          border: none;
          color: #fff;
        }
      }
    }
    
    .mmm__item {
      position: static;
      float:left;
      margin: 0;
      
      @include breakpoint(max-width bp(md)) {
        position:relative;
        display:block;
      }
      
      .mmm__nav-link {
        @extend %font-size-sm;
        @extend %font-weight-regular;
        line-height:38px;
        color: #ffffff;
        position:relative;
        display:block;
        margin: 0;
        padding: 0 20px;
      }
      
      & a.mmm__nav-link:hover, &--current a.mmm__nav-link {
        @extend .bg-red-thunderbird;
        
      }
      
      .mmm-dropdown-toggle {
        display:none;
        background-color: transparent;
        
        font-size: 20px;
        color:#fff;
        line-height: 40px;
        margin: 0;
        padding: 0 12px;
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
        text-shadow: none;
        outline:0;
        
        @include breakpoint(max-width bp(md)) {
          display:block;
        }
        
        &.clever-toggled-on {
          i {
            @extend .fa-angle-down;
          }
        }
      }
      
      &--has-children {
        .mmm__nav-link {
          
          &:after {
            font-size: $font-size-text-medium!important;
            margin-left:5px;
            vertical-align: middle;
            @include fa-icon;
            @extend .fa-angle-down:before;
            
            @include breakpoint(max-width bp(md)) {
              content:"";
              display:none;
            }
          }
        }
        &:hover {
          .mmm__submenu {
            top:100%;
            visibility: visible;
            opacity: 1;
            z-index: 1000;
          }
        }
      }
      &--has-children {
        .mmm__submenu {
          min-width:660px;
        }
      }
    }
    
    .mmm__submenu {
      position: absolute;
      left: 0;
      top: 100%;
      text-align: left;
      min-width: 210px;
      z-index: 999;
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s ease-in;
      
      @include breakpoint(max-width bp(md)) {
        width: auto !important;
        min-width:0!important;
        position: static;
        opacity: 1;
        visibility: visible;
        display: none;
        box-shadow: none;
        overflow: hidden;
        padding: 0 !important;
        background: none;
        
        &.clever-toggled-on {
          display:block;
        }
      }
      
      .mmm__submenu-wrapper {
        display:block;
        position: relative;
        left: auto;
        right: auto;        
        @extend %font-size-xs;
        @extend %font-weight-light;
        color: $text-color;
        padding: 20px 20px 20px 20px;
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-color: #e0e4f6;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
        background: #fff;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
        background: -moz-linear-gradient(top, #fff, #fff);
        background: -ms-linear-gradient(top, #fff, #fff);
        background: -o-linear-gradient(top, #fff, #fff);
        background: linear-gradient(to bottom, #fff, #fff);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff');
        
        @include breakpoint(max-width bp(md)) {
          border-radius: 4px 4px 4px 4px;
        }
        
        ul {
          margin-bottom:5px;
          > li {
            @extend %font-size-xs;
            @extend %font-weight-regular;
            line-height:22px;
            > a {
              &:hover {
                @extend .font-red;
              }
            }
          }
        }
      }
    }
  }
  
  .mmm-toggle-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    float: none;
    width:45px;
    height: 38px;
    display:none;
    
    @include breakpoint(max-width bp(md)) {
      display:block;
    }
    
    .mmm-toggle {
      width: 100%;
      height: 100%;
      border: 0;
      display: block;
      text-align: right;
      background-color: #212c3f;
      color: $text-light-color;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      transition: all 0.2s;
      line-height: 38px;
      padding: 0 15px 0 15px;
      outline:0;
  
      > .mmm-toggle__icon {
        font-size:20px;
      }
      .mmm-toggle__icon--close {
        display:none;
      }
      &.toggled-on .mmm-toggle__icon--open {
        display:none;
      }
      &.toggled-on .mmm-toggle__icon--close {
        display:inline-block;
      }
    }
  }
}