.mmm-container {
  position:relative;
  width:100%;
  margin:0;
  padding:0;

  ul.mmm {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    @include breakpoint(max-width bp(md)) {
      color: #fff;
      position: static;
      padding: 10px 0;
      width:100%;
      z-index:9;
    }
    
    .mmm__item {
      position: static;
      float:left;
      margin: 0;
      
      & a.mmm__nav-link:hover, 
      &--current a.mmm__nav-link {
        background: #D91E18;
        
        @include breakpoint(max-width bp(md)) {
          background:#f3f4f8;
        }
      }
      
      @include breakpoint(max-width bp(md)) {
        position:relative;
        display:block;
        float:none;
      }
      
      &--has-children {
        position:relative;
        
        @include breakpoint(max-width bp(ml)) {
          padding-right: 38px;
        }
        
        @include breakpoint(max-width bp(md)) {
          padding:0;
        }
        
        .mmm__nav-link {
          @include breakpoint(max-width bp(ml)) {
            padding-right:0!important;
          }
          
          &:after {
            font-size: $font-size-text-medium!important;
            margin-left:5px;
            vertical-align: middle;
            @include fa-icon;
            @extend .fa-angle-down:before;
            display:none;
            
            @include breakpoint(min-width bp(lg)) {
              display:inline-block;
            }
          }
        }
        
        &:hover {
          .mmm__submenu {
            top:100%;
            visibility: visible;
            opacity: 1;
            z-index: 1000;
          }
        }
        
        
        .mmm__submenu {
          min-width:660px;
          
          @include breakpoint(max-width bp(ml)) {
            min-width:630px;
          }
        }
        
        .js-cmm-dropdown-toggle {
          display:none;
          width: 38px;
          height: 38px;
          background-color: transparent;
          font-size: 18px;
          color:#ffffff;
          line-height: 1;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 0;
          right: 0;
          border: 0;
          text-shadow: none;
          outline:0;
          
          @include breakpoint(max-width bp(ml)) {
            display: inline-block;
          }
          
          @include breakpoint(max-width bp(md)) {
            color:#444;
          }
          
          &.toggled-on {
            i {
              @extend .fa-angle-down;
            }
          }
        }
      }
      
      .mmm__nav-link {
        @extend %font-size-sm;
        @extend %font-weight-regular;
        line-height:38px;
        color: #ffffff;
        position:relative;
        display:block;
        margin: 0;
        padding: 0 20px;
        
        @include breakpoint(max-width bp(md)) {
          font-size:13px;
          color: $text-color;
          border: none;
        }
      }
    }
    
    .mmm__submenu {
      position: absolute;
      left: 0;
      top: 100%;
      text-align: left;
      min-width: 210px;
      z-index: 999;
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s ease-in;
      
      @include breakpoint(max-width bp(ml)) {
        display:none;
        
        &.toggled-on {
          display:block;
          top:100%;
          visibility: visible;
          opacity:1;
        }
      }
      
      @include breakpoint(max-width bp(md)) {
        width: auto !important;
        min-width:0!important;
        position: static;
        opacity: 1;
        visibility: visible;
        display: none;
        box-shadow: none;
        overflow: hidden;
        padding: 0 !important;
        background: none;
        
        &.toggled-on {
          display:block;
        }
      }
      
      .mmm__submenu-wrapper {
        display:block;
        position: relative;
        left: auto;
        right: auto;        
        @extend %font-size-xs;
        @extend %font-weight-light;
        color: $text-color;
        padding: 20px 20px;
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-color: #e0e4f6;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
        background: #fff;
        
        @include breakpoint(max-width bp(md)) {
          border:0;
          border-radius: 0;
          box-shadow:none;
          padding: 10px 20px;
        }
        
        ul {
          margin-bottom:5px;
          > li {
            @extend %font-size-xs;
            @extend %font-weight-regular;
            line-height:22px;
            > a {
              &:hover {
                @extend .font-red;
              }
            }
          }
        }
      }
    }
  }
}