.header-search {
  
  @include breakpoint(max-width bp(md)) {
    width:auto;
  }

  .form-search-wrapper {
    .form-search {
      display:block;
      position:relative;
      
      &__wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
      }
      
      &__input {
        width:100%;
        
        input[type=text] {
          border-radius: 0;
          border: 0;
          height: 40px;
          line-height: 40px;
          @extend %font-size-xs;
          @extend %font-weight-light;
          border: 1px solid #e5e5e5;
          border-color: #e5e5e5;
          border-right: 0;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          
          @include breakpoint(max-width bp(md)) {
            display:block;
            width:100%;
          }
        }
      }
      
      &__actions {
        display:block;
        
        .btn-search {
          width:auto;
          height:40px;
          white-space:nowrap;
          @extend %font-size-xs;
          @extend %font-weight-medium;
          border-radius:0;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          
          @include breakpoint(max-width bp(md)) {
            
            > span {
              display:none;
            }
          }
        }
      }
    }
  }
}
