.sidebar {
  padding: 40px 55px;
  margin: 0 0 20px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 50px 3px rgba(232,232,232,0.7);
  -moz-box-shadow: 0px 0px 50px 3px rgba(232,232,232,0.7);
  box-shadow: 0px 0px 50px 3px rgba(232,232,232,0.7);
}