html {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 100%;
  line-height: 1.5;
}
body {
  @extend %font-size-sm;
  @extend %font-weight-light;
  background: #f4f4f4;
  color: #3e3e3c;
  -webkit-tap-highlight-color: transparent;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height:1.2;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.h4, .h5, .h6, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.h1, .h2, .h3, h1, h2, h3 {
  @extend %font-weight-medium;
}

.h4, .h5, .h6, h4, h5, h6 {
  @extend %font-weight-regular;
}

.h1, h1 {
  @extend %font-size-xl;
}

.h2, h2 {
  @extend %font-size-lg;
}

.h3, h3 {
  @extend %font-size-md;
}

.h4, h4 {
  @extend %font-size-sm;
}

.h5, h5, .h6, h6 {
  @extend %font-size-xs;
}

b, .sbold {
  @extend %font-weight-medium;
}

strong {
  @extend %font-weight-bold;
}

button, input, optgroup, select, textarea {
  @extend %font-weight-regular;
}

p {
  margin: 0 0 15px;
}

hr {
  border-color:#e5e5e5;
}

/* Unstyled List */
.list-unstyled li > .list-unstyled {
  margin-left: 25px;
}

ul.list-checked {
  margin: 0 0 15px;
  padding:0;
  
  li {
    background: transparent url(../img/icons/i_hotlinevf.png) no-repeat left top 6px;
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 4px 0 4px 25px;
  }
}

/* Disabled Navigation Link */
.disabled-link {
  .disable-target {  
    opacity: 0.5 !important;
    filter: alpha(opacity=50) !important; 

    &:hover {
      cursor: not-allowed !important;    
    }
  }

  &:hover {
    cursor: not-allowed !important;    
  }
}

.page-title-wrapper {
  margin-bottom:30px;
  
  .page-title {
    @extend %font-size-xl;
    @extend %font-weight-medium;
    text-transform: uppercase;
    position: relative;
    
    &:before {
      content: "";
      width: 70px;
      height: 3px;
      display: inline-block;
      position: absolute;
      bottom: -8px;
      left: 0;
      @extend .bg-red;
    }
  }
}

.section {
  
  &__heading {
    @extend %font-size-lg;
    @extend %font-weight-medium;
    text-transform: uppercase;
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;
    
    &:before {
      content: "";
      width: 70px;
      height: 3px;
      display: inline-block;
      position: absolute;
      bottom: -8px;
      left: 0;
      @extend .bg-red;
    }
  }
}

.layout-bg-white .site-main{
  background: #ffffff;
}

.frame {
  @extend %font-size-ml;
  @extend %font-weight-light;
  
  .element-header {
    @extend %font-size-lg;
    @extend %font-weight-medium;
    text-transform: uppercase;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
    
    &:before {
      content: "";
      width: 70px;
      height: 3px;
      display: inline-block;
      position: absolute;
      bottom: -8px;
      left: 0;
      @extend .bg-red;
    }
  }
  
  &.frame-space-before-extra-small {
    margin-top: 5px;
  }
  &.frame-space-after-extra-small {
    margin-bottom: 5px;
  }
  &.frame-space-before-small {
    margin-top: 10px;
  }
  &.frame-space-after-small {
    margin-bottom: 10px;
  }
  &.frame-space-before-medium {
    margin-top: 20px;
  }
  &.frame-space-after-medium {
    margin-bottom: 20px;
  }
  &.frame-space-before-large {
    margin-top: 40px;
  }
  &.frame-space-after-large {
    margin-bottom: 40px;
  }
  &.frame-space-before-extra-large {
    margin-top: 60px;
  }
  &.frame-space-after-extra-large {
    margin-bottom: 60px;
  }
}